In [11]:
import statistics as st
import pandas as pd

In [12]:
df=pd.read_csv('sample data.csv')
df

   data
0     5
1     7
2    11
3     2
4    10
5     9
6     6
7     3
8     5
9     7

# Mean

In [13]:
st.mean(df['data'])

6.5

In [14]:
#for median
st.median(df['data'])

6.5

In [15]:
#for mode
st.mode(df['data'])

5

In [16]:
#For standard deviation
st.stdev(df['data'])

2.9154759474226504

In [17]:
# for variance
st.variance(df['data'])

8.5